#overlay {
position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eaeaea;
  z-index: 2;
  cursor: pointer;
}

#text {
  position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
#textboxOv {
  width: 600px;
  height: 400px;
}
th, td {
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    text-transform: lowercase;
}
th {
    text-align: left;
}
table {
    border-spacing: 5px;
}
tr:nth-child(even) {
    background-color: #eee;
}
tr:nth-child(odd) {
    background-color: #fff;
}
.buybtn {
    background-color: #9cebd5;
    color: white;
    width: 57px;
    height: 19px;
    font-size: 16px;
    border: 0px;
    border-radius: 7px;
}
